/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ____________________ */

/* reuseable class0 */
.padding-10{
    padding: 10px;
}
.padding-20{
    padding: 20px;
}
.btn{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: white;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
th, td{
    padding: 10px;
}
table{
    border-collapse: collapse;
    border-bottom: 1px solid black;
}
img{
    height: 25px;
    width: 25px;
}
/* ___________________ */

.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(72, 145, 255);
    color: white;
}